<script setup>
import { computed } from "vue";
import { RouterView } from "vue-router";
import FaceDetection from "@/components/FaceDetection.vue";
import { useDistanceStore } from "@/stores/distance";
import { storeToRefs } from "pinia";

const store = useDistanceStore();
const { distance } = storeToRefs(store);

const filter = computed(() => {
  return `${Math.floor(distance.value / 6)}px`;
});
</script>

<template>
  <main class="blurify">
    <FaceDetection />
    <RouterView />
  </main>
</template>
<style>
.blurify {
  filter: blur(v-bind(filter));
}
</style>
